<a href="#!/dashboard">Cancel</a>
<ul ng-if='error'>
  <li ng-repeat='errorObj in validationErrors'>{{errorObj.message}}</li>
</ul>
<h1> Put the question and options here</h1>

<label>Question: <input type='text' ng-model='newPoll.question'></label>
<label>Option 1: <input type='text' ng-model='newPoll.option1'></label>
<label>Option 2: <input type='text' ng-model='newPoll.option2'></label>
<label>Option 3: <input type='text' ng-model='newPoll.option3'></label>
<label>Option 4: <input type='text' ng-model='newPoll.option4'></label>
<button ng-click="create()">Create Poll</button>
